<div class="jumbotron">
    <h1>Cromartie</h1>
    <p class="lead">The slayer of worlds</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>CloneCraft</h2>
        <p>Having earned respect in Clue, he's now back to craft some clones.</p>
    </div>
</div>
